<section id="adoptSect">
<h1>Hi, I'm the adoptions page!</h1>

  <div class="container">
    <div class="adoptLogForm">
      <h2>Add your adoption here:</h2>

      <form action="/adoptions" method="POST" enctype="multipart/form-data">

      <label for="Name"><strong>Name:</strong></label>
      <input type="text" name="Name">

      <div class="divider"></div>

      <label for="breed"><strong>Breed:</strong></label>
      <input type="text" name="breed">

      <div class="divider"></div>


      <label for="birthDate"><strong>Birth Date:</strong></label>
      <input type="date" name="birthDate">

      <div class="divider"></div>

      <label for="Gender"><strong>Gender:</strong></label>
      <input type="text" name="Gender">

      <div class="divider"></div>

      <label for="image_path"><strong>Image:</strong></label>
      <input type="file" name="image_path">

      <div class="divider"></div>

      <button type="submit" class="but">Add Adoption</button>

      </form>
    </div>
  </div>
</section>

<br>


<div class="adoptContainer">
  <div class="row">
    {{#each adopts}}
    <div>
      <div class="card">
        <a href="/adoptions/{{id}}">
          <img src="{{image_path}}" alt="{{image_name}}">
          <h4><b>Name:{{Name}}</b></h4>
          <p>Breed:{{breed}}</p>
          <p>Bith Date:{{birthDate}}</p>
          <p>Gender:{{Gender}}</p>
          
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>