<div id="divTitle">
<h2 id="allTitle">Here you can see all the pets you own:</h2>
</div>

<section id="allSect">
<div class="row">
  <div >
    {{#each pets}}
    <div class="card">
      <a href="/singlePet/{{id}}">
      <img src="{{Image_path}}" alt="">
      <h4><b>Name: {{name}}</b></h4>
      <p>Chip ID: {{chipId}}</p>
      <p>Age: {{age}}</p>
      <p>Gender: {{gender}}</p>
      <p>Hair Color: {{hairColor}}</p>
      </a>
    </div>
  </div>
{{/each}}
</div>
</section>