<h2>Edit your adopt here:</h2>

<form action="/editAdopt/{{result.id}}" method="POST" enctype="multipart/form-data">

<label for="Name">Name:</label>
<input type="text" name="Name" id="Name" value="{{result.Name}}">

<br>

<label for="breed">Breed: </label>
<input type="text" name="breed" id="breed" value="{{result.breed}}">

<br>

<label for="image_path">Attached file: </label>
<input type="file" name="image_path" id="image_path">
<input type="hidden" name="att_name" id="att_name" value="{{result.image_name}}">
<input type="hidden" name="att_path" id="att_path" value="{{result.image_path}}">

<button type="submit">Edit Adopt</button>

</form>