

<img src="{{result.Image_path}}">
<p>Name: {{result.name}}</p>
<p>Chip ID: {{result.chipId}}</p>
<p>Age: {{result.age}}</p>
<p>Gender: {{result.gender}}</p>
<p>Hair Color: {{result.hairColor}}</p>



<button>
    <a href="/editPet/{{result.id}}">Editar</a>
</button>


<form action="/deletePet/{{result.id}}" method="POST">
    <button type="submit">Eliminar</button>
</form>

