


      <h4><b>Name: {{Name}}</b></h4>
      <p>Breed: {{breed}}</p>
      <p>Bith Date: {{birthDate}}</p>
      <p>Gender: {{Gender}}</p>




<button>
    <a href="/editAdopt/{{id}}">Editar</a>
</button>


<form action="/deleteAdopt/{{id}}" method="POST">
    <button type="submit">Eliminar</button>
</form>